body {
    background-color: #FFCC00;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .navbar{
    font-family: 'Baloo Chettan', cursive;
    font-size: 20pt;
    background-color: #6fbed6;
  }
  .navbar-brand{
    font-size: 20pt;
    color: #FFCC00;

  }
  .navbar-nav{
    font-size: 15pt;
    justify-content: right;
  }
  .nav-item{
    color: #FFCC00;
  }
  a:hover{
    color: #c49e05;
  }
  .content{
    background-color: transparent;
    padding: 20px;
  }
  h2{
    font-family: 'Baloo Chettan', cursive;
    color: #6fbed6;
  }
  h4{
    font-family: 'Baloo Chettan', cursive;
    color: #6fbed6;
  }
  p{
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    color: #3d6a77;
  }
 .MyFace{
   border-radius: 50%;
   width: 75%;
   padding: 0%;
 }
.fa-arrow-circle-down{
  color: #FFCC00;
  margin: 0%;
  padding: 0%;
}
.fa-arrow-circle-down:hover {
  color: #c49e05;
}
.card-link{
  font-family: 'Baloo Chettan', cursive;
  color: #6fbed6;
}
h2.pageHeading{
  padding-bottom: 3%;
}
.contactContent{
  text-align: center;
  font-size: 20pt;
}
.eMail{
  font-family: 'Baloo Chettan', cursive;
  color: #6fbed6;
  font-size: 25pt;
}
a.card-link:hover{
  color: #3d6a77;
}
.carousel-item {
  height: 350px;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-indicators {
  bottom: -10px;
}
.portfolioContent{
  font-family: 'Baloo Chettan', cursive;
  color: #6fbed6;
}
.links{
  font-family: Helvetica, sans-serif;
  color: #6fbed6;
}
.links:hover{
  color: #3d6a77;
}
img.portfolioImage{
  height: 400px;
  object-fit: contain;
}
img.artworkImage{
  height: 400px;
  object-fit: contain;
}
.carousel-inner{
  height: 550px;
}
.footer-text{
  font-family: 'Baloo Chettan', cursive;
  padding-top: 150px;
}
