body {
    background-color: #FFCC00;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .navbar{
    font-family: Futura;
    font-size: 20pt;
    background-color: #6fbed6;
  }
  .navbar-brand{
    font-size: 20pt;
    color: #FFCC00;

  }
  .navbar-nav{
    font-size: 15pt;
    justify-content: right;
  }
  .nav-item{
    color: #FFCC00;
  }
  a:hover{
    color: #c49e05;
  }
  .content{
    background-color: transparent;
  }
  h2{
    font-family: Futura;
    color: #6fbed6;
  }
  p{
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    color: #6fbed6;
  }
 .MyFace{
   border-radius: 50%;
   width: 75%;
   padding: 0%;
 }
.fa-arrow-circle-down{
  color: #FFCC00;
  margin: 0%;
  padding: 0%;
}
.fa-arrow-circle-down:hover {
  color: #c49e05;
}
.card-link{
  color: #6fbed6;
}
h2.pageHeading{
  padding-bottom: 3%;
}
.contactContent{
  text-align: center;
  font-size: 20pt;
}
.eMail{
  font-size: 25pt;
}