body{
    color: #6fbed6;
    background-color: #ffdf63;
    padding: 20px;
    margin: 0;
    font-family: 'Baloo Chettan', cursive;
}
.MyFace{
    border-radius: 50%;
    width: 75%;
    padding: 0%;
}
.fa-arrow-circle-down{
    color: #ffdf63;
    margin: 0%;
    padding: 0%;
}
.fa-arrow-circle-down:hover {
    color: #c49e05;
}
.content h2 {
    padding: 0;
    margin: 0;
}
.content li {
    margin-bottom: 10px;
}
.navbar{
    font-size: 20pt;
    background-color: #6fbed6;
}
.navbar-brand{
    font-size: 20pt;
    color: #ffdf63;
}
.navbar-nav{
    font-size: 15pt;
    justify-content: right;
}
.nav-item{
    color: #ffdf63;
}
a:hover{
    color: #c49e05;
}
.content{
    background-color: transparent;
    padding: 20px;
}
p.aboutContent{
    font-size: 12pt;
    color: #3d6a77;
}
h4{
    color: #6fbed6;
}
.card-link{
    color: #6fbed6;
}
a.card-link:hover, .appDescription{
    color: #3d6a77;
}
h2.pageHeading{
    padding-bottom: 3%;
}
.contactContent{
    text-align: center;
    font-size: 20pt;
}
.eMail{
    color: #6fbed6;
    font-size: 25pt;
}
.carousel-item {
    height: 4500px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators {
    margin: 0px;
}
.links{
    color: #6fbed6;
}
.links:hover, a.instaLink:hover{
    color: #3d6a77;
}
img.portfolioImage{
    height: 400px;
    object-fit: contain;
}
img.artworkImage{
    height: 400px;
    object-fit: contain;
}
.carousel-inner{
    height: 800px;
}
.footer-text{
    padding-top: 150px;
}
.artTitle{
    padding-top: 40px;
}
a.instaLink{
    color: #6fbed6;
    padding-top: 40px;
    padding-bottom: 40px;
}
@media only screen and (max-width: 768px) {
    .eMail {
        font-size: 20pt;
    }
    .appDescription{
        width: 100%;
    }
}
  